{{define "content"}}
    <div id="content">
        <form action="#" method="post">
            <div class="form_settings">
                <p><span>Email Address</span><input class="contact" type="text" name="your_email" value=""/></p>
                <p><span>Name</span><input class="contact" type="text" name="your_name" value=""/></p>
                <p><span>Password</span><input class="contact" type="text" name="your_password" value=""/></p>
                <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit"
                                                                       name="contact_submitted" value="submit"/></p>
            </div>
        </form>
        </p>
    </div>
{{end}}
