{{define "content"}}
    <div id="content">
        <ul>
            <li><a href="https://app.adjust.com/kbqm4qx" rel="noopener noreferrer" target="_blank">bilyoner adjust app store link</a></li>
            <li><a href="/public/views/redirect-example-branch.html" rel="noopener noreferrer" target="_blank">Redirect Example - Branch</a></li>
            <li><a href="/public/views/redirect-example-adjust.html" rel="noopener noreferrer" target="_blank">Redirect Example - Adjust</a></li>
            <li><a href="/public/views/redirect-example-branch.html">Pure Redirect Example - Branch</a></li>
            <li><a href="/public/views/redirect-example-adjust.html">Pure Redirect Example - Adjust</a></li>
        </ul>
    </div>
{{end}}