{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="iSpend App">
        <meta name="author" content="Srdjan Tubin">
        <link rel="icon" href="public/favicon.ico">

        <title>iSpend</title>

        <!-- Main CSS -->
        <link href="public/css/main.css" rel="stylesheet">

        <!-- Libs -->
        <link href="public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
{{/*        <link href="public/libs/toastr/build/toastr.min.css" rel="stylesheet"/>*/}}
    </head>

    <body>
    <script src="public/libs/jquery/dist/jquery.min.js"></script>
{{/*    <script src="public/libs/toastr/build/toastr.min.js"></script>*/}}
    <script src="public/js/main.js"></script>

    <div class="container">
        {{template "navbar" .}}

        {{template "content" .}}

        {{template "footer" .}}
    </div>

    </body>
    </html>
{{end}}