{{define "navbar"}}
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/index">i<span class="logo_colour">Spend</span></a></h1>
                <h2>Simple. Track where the f your money goes to.</h2>
            </div>
            <div id="ispend-mascot">
                <img id="ispend-mascot-image" src="public/img/grab_money.jpg" alt="money grab">
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="/index">Home</a></li>
                <li><a href="/examples">Examples</a></li>
                <li><a href="/page">A Page</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/debug">Debug</a></li>
            </ul>
        </div>
    </div>
{{end}}