{{define "sidebar"}}
    <script src="public/js/sidebar.js"></script>

    <div class="sidebar">
        <form method="post" action="#" onsubmit="return false" id="login_form">
            <p>
                <input class="search" autocomplete="off" type="text" id="form_username" placeholder="username"/>
                <input class="search" autocomplete="off" type="password" id="form_password" placeholder="password"/>
            <p><span>&nbsp;</span><input class="submit" type="submit" name="submit_login"
                                                                   onclick="login()" value="Login"/></p>
            </p>
        </form>

        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a href="#">Read
                more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a href="#">Read
                more</a></p>
        <h3>Useful Links</h3>
        <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
            <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
            <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="public/img/search.png"
                       alt="Search" title="Search"/>
            </p>
        </form>
    </div>
{{end}}