{{define "sidebar"}}
    <script src="public/js/sidebar.js"></script>

    <div class="sidebar">
        <div style="display: none" id="loggedUserInfo">
            <p>Logged in as:</p>
            <p id="usernameInfo"></p>
            <p><input class="submit" type="submit" name="logout"
                                         onclick="logout()" value="Logout"/></p>
        </div>
        <form method="post" action="#" onsubmit="return false" id="loginForm">
            <p>
                <input class="search" autocomplete="off" type="text" id="form_username" placeholder="username"/>
                <input class="search" autocomplete="off" type="password" id="form_password" placeholder="password"/>
            <p><span>&nbsp;</span><input class="submit" type="submit" name="submit_login"
                                                                   onclick="login()" value="Login"/></p>
            </p>
        </form>

        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>

        <h4>Adding spends</h4>
        <h5>10th October, 2019</h5>
        <p>Ability to add new spends via web.</p>
        <p></p>

        <h4>Metrics!</h4>        
        <h5>October, 2019</h5>
        <p>Metrics added: grafana.serjsepnds.de</p>
        <p></p>

        <h4>Using PostgreSQL DB</h4>
        <h5>29th September, 2019</h5>
        <p>The site now uses a new Postgres DB, hosted in Amazon EC2</p>
        <p></p>

        <h4>New look</h4>
        <h5>September, 2019</h5>
        <p>September sees the redesign of website.
        <p></p>

        <h3>Search</h3>
        <p>(in progress...)
        <form method="post" action="#" id="search_form">
            <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="public/img/search.png"
                       alt="Search" title="Search"/>
            </p>
        </form>
    </div>
{{end}}